<h3>Login Here</h3>

<form id="user-login">
    <label>username</label><input type="text" id="username">
    <label>password</label><input type="password" id="password">
    <input type="submit" value="Login">
</form>

<script src="/js/login.js"></script>