<form id="new-post">
    <input type="text" id="title" placeholder="title">
    <input type="text" id="body" placeholder="body">
    <input type="submit" value="Post">
</form>

<script src="js/new-post.js"></script>