<h3>Sign Up Here</h3>

<form id="user-signup">
    <label>username</label><input type="text" id="username">
    <label>email</label><input type="email" id="email">
    <label>password</label><input type="password" id="password">
    <input type="submit" value="Signup">
</form>

<script src="js/signup.js"></script>