<h3>Sign Up Here</h3>

<form id="user-signup">
    <input type="text" id="username">
    <input type="email" id="email">
    <input type="password" id="password">
    <input type="submit" value="Signup">
</form>

<script src="js/signup.js"></script>